{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "react/require-extension": "off",
    "jsx-quotes": 1,
    "react/jsx-": 0,
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "arrow-body-style": [
      "error",
      "always"
    ],
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ],
    "quote-props": [
      "error",
      "consistent",
      {
        "numbers": true
      }
    ],
    "space-in-parens": [
      "error",
      "always"
    ]
  }
}
